{% extends 'master.html' %}

{% block titulo %} Recomendaci&oacute;n de usuarios para un anime{% endblock %}	    

{% block contenido %} 

    	<form id="formulario" method="post" action=''>{% csrf_token %}
    		<fieldset>
    			<legend>B&uacute;squeda de Anime</legend>
    			{{formulario}}
    			<BR><BR>

    			<input type='submit' value='Realizar B&uacute;squeda'/>
    		</fieldset>
    	</form>
	    
	    <hr>

	    {% if items %}
		    <h4> Usuarios recomendados a el anime {{anime.titulo}}:</h4>
		    <dl class="uk-description-list-line">

			{% for usuario, puntuacion in items %}
			    <dd><b>Usuario: {{usuario.idUsuario}}  Puntuaci&oacute;n:{{puntuacion | floatformat:"2"}}</b> <br>  
			{% endfor %}

			</dl>

		{% endif %}

{% endblock %}